<div class="caregiver-card">
    <div class="caregiver-content">
        <img class="caregiver-picture">
        <div class="caregiver-texts-top-container">
            <p class="caregiver-name caregiver-texts">Jane Doe</p>
            <div style="margin: 0px auto"></div>
            <p class="caregiver-exerience caregiver-texts">9 YoE</p>
        </div>
        <p class="caregiver-description caregiver-texts">RCFE Caregiver with experience working with Alzheimer's/Dementia clients.</p>
    </div>
</div>