<body>
    <div id="login-signup-container">
        <p id="login-signup-title">Login</p>
        <input id="login-signup-username-input" class="login-signup-input" placeholder="Username">
        <input id="login-signup-password-input" class="login-signup-input" placeholder="Password" type="password">
        <p id="login-signup-show-password-text" onclick="changePasswordTextType()">Show Password</p>
        <button id="login-signup-submit-button">Submit</button>
        <p id="login-signup-options">Forgot username/password?</p>
        <p id="login-signup-options">New user? Create new account.</p>
    </div>
</body>